body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D8BFDE;
}

.header {
    background-image: url('SiteAstralDynamics/image/logo_2.jpg'); /* Remplacez par votre image d'en-tête */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 200px 0;
}
.button 
{
    display: flex;
    color: white;
    justify-content: space-around;
    margin: 10px ;
    padding: auto;
    font-size: 2rem;
}
.button a
{
    color: white;
}
.body
{
    text-align: center;
    color: #f90691;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adaptatif pour différentes tailles d'écran */
    gap: 20px;
    padding: 20px;
}
.footer
{
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
footer
{
    text-align: center;
}
.footer img 
{
    width: 50px;
    height: 50px;
}